<div class="container">
    <nav class="p-2 m-2 border-info">
        <button *ngIf="authService.hasRole('admin')" class="btn btn-outline-info" (click)="handleNewProduct()">New Product</button>
    </nav>
    <ng-template #errors>
      <div class="text-danger">{{errorMessage}}</div>
    </ng-template>
      <div class="card" *ngIf="products; else errors">
          <div class="card-header">
              Products List
          </div>
          <div class="card-body">
              <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
                  <div class="input-group">
                      <label class="input-group-text">Keyword</label>
                      <input formControlName="keyword" type="text" class="form-control">
                      <button class="btn btn-info">
                          <i class="bi bi-search"></i>
                      </button>
                  </div>
              </form>
              <table class="table">
                  <thead>
                      <tr>
                          <th>ID</th> <th>Name</th> <th>Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let p of products">
                          <td>{{p.id}}</td>
                          <td>{{p.name}}</td>
                          <td>{{p.price}}</td>
                          <td>
                              <i *ngIf="p.promotion" class="bi bi-heart-fill text-success"></i>
                          </td>
                          <td *ngIf="authService.hasRole('admin')">
                              <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion==true?'btn-danger':'btn-success'" class="btn btn-success">
                                  <span *ngIf="p.promotion==true">Promo Off</span>
                                  <span *ngIf="p.promotion==false">Promo On</span>
                              </button>
                          </td>
                          <td *ngIf="authService.hasRole('admin')">
                            <button (click)="handleEditProduct(p)" class="btn btn-warning">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                          <td *ngIf="authService.hasRole('admin')">
                              <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                                  <i class="bi bi-trash"></i>
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li *ngFor="let item of [].constructor(this.totalPages); let i=index" class="page-item">
                      <a (click)="gotoPage(i)" [ngClass]="i==currentpage?'btn-info':'btn-outline-info'" class="page-link btn btn-outline-info">{{i}}</a>
                  </li>
                </ul>
              </nav>
              <!--ul class="nav nav-pills">
                  <li *ngFor="let item of [].constructor(this.totalPages); let i=index">
                      <a (click)="gotoPage(i)" [ngClass]="i==currentpage?'btn-info':'btn-outline-info'" class="btn btn-outline-info ms-1 mt-1">{{i}}</a>
                  </li>
              </ul-->
          </div>
      </div>
  </div>
  